<form
    class="add-form"
    #registerForm="ngForm"
    (ngSubmit)="registerSubmitHandler()"
>
    <!-- EMAIL -->
    <div class="form-control">
        <label for="email">Email:</label>
        <input
            type="text"
            id="email"
            name="email"
            placeholder="Add Email"
            ngModel
            email
            required
            #inputEmail="ngModel"
        >

        <!-- email error msg -->
        <!-- <div *ngIf="inputEmail.touched">
            <div *ngIf="inputEmail.errors?.['required']">Email is required!</div>
            <div *ngIf="inputEmail.errors?.['email']">Invalid EMAIL!</div>
        </div> -->

        <!-- PASSWORD -->
        <label for="password">Password:</label>
        <input
            type="text"
            id="password"
            name="password"
            placeholder="Add Password"
            ngModel
            #inputPassword="ngModel"
        >
        <!-- password error msg -->
        <!-- <div *ngIf="inputPassword.errors?.['appMaxCount']">
            Invalid Password, because length is longer than
            {{ inputPassword.errors?.['appMaxCount'] }} ...
        </div> -->

        <label for="rePass">Confirm Password:</label>
        <input
            type="text"
            id="rePass"
            name="rePass"
            placeholder="Confirm Password"
            ngModel
            #inputRePass="ngModel"
        >
        <!-- RePassword error msg -->
        <!-- <div *ngIf="inputRePass.errors?.['appMaxCount']">
            Invalid Password, because length is longer than
            {{ inputRePass.errors?.['appMaxCount'] }} ...
        </div> -->
    </div>
    <button
        class="btn"
        [style]="{backgroundColor:registerForm.invalid?'gray':'green'}"
    >
        Register
    </button>
    <span>
        If you already have a profile, click
        <a href="#">here</a>
    </span>
</form>
{{ registerForm.value | json }}
Invalid Form: {{ registerForm.invalid | json }}
