<form
    class="add-form"
    (ngSubmit)="registerSubmitHandler()"
    [appMustMatch]="['password', 'rePass']"
    #registerForm="ngForm"
>
    <!-- EMAIL -->
    <div class="form-control">
        <label for="email">Email:</label>
        <input
            type="text"
            id="email"
            name="email"
            placeholder="Add Email"
            ngModel
            required
            appEmail
            #inputEmail="ngModel"
        >
        <!-- email error msg -->
        <div *ngIf="inputEmail.touched">
            <div
                class="error"
                *ngIf="inputEmail.errors?.['required']"
            >
                Email is required!
            </div>
            <div
                class="error"
                *ngIf="inputEmail.errors?.['emailValidator']"
            >
                The email should be in the following format (mailboxname @ domainname.domainextension) !
            </div>
        </div>
        <!-- {{inputEmail?.errors|json}} -->

        <!-- PASSWORD -->
        <label for="password">Password:</label>
        <input
            type="text"
            id="password"
            name="password"
            placeholder="Add Password"
            ngModel
            required
            [appMinCount]="4"
            [appMaxCount]="10"
            #inputPassword="ngModel"
        >
        <!-- password error msg -->
        <div *ngIf="inputPassword.touched">
            <div
                class="error"
                *ngIf="inputPassword.errors?.['required']"
            >
                Password is required!
            </div>
            <div
                class="error"
                *ngIf="inputPassword.errors?.['appMinCount']"
            >
                Invalid Password, because length is shorter than
          {{ inputPassword.errors?.['appMinCount'] }} ...
            </div>
            <div
                class="error"
                *ngIf="inputPassword.errors?.['appMaxCount']"
            >
                Invalid Password, because length is longer than
          {{ inputPassword.errors?.['appMaxCount'] }} ...
            </div>
        </div>
        <!-- {{inputPassword?.errors|json}} -->

        <!-- Repeat PASSWORD -->
        <label for="rePass">Confirm Password:</label>
        <input
            type="text"
            id="rePass"
            name="rePass"
            placeholder="Confirm Password"
            ngModel
            #inputRePass="ngModel"
        >
        <!-- RePassword error msg -->
        <div *ngIf="inputRePass.touched">
            <div
                class="error"
                *ngIf="inputRePass.errors?.['mustMatch']"
            >
                Passwords must match!
            </div>
        </div>
        <!-- {{inputRePass?.errors|json}} -->
    </div>
    <button
        class="btn"
        [style]="{backgroundColor:registerForm.invalid?'gray':'green'}"
    >
        Register
    </button>
    <span>
        If you already have a profile, click
        <a routerLink="/login">here.</a>
    </span>
</form>
<!-- {{ registerForm.value | json }}
Invalid Form: {{ registerForm.invalid | json }} -->
