<header>
    <h1>{{title}}</h1>

    <div *ngIf="!isLoggedIn">
        <a
            routerLink="/login"
            *ngIf="!hasRoute('/login')&&!hasRoute('/register')"
        >
            <app-button
                color="steelblue"
                text="Login"
            ></app-button>
        </a>

        <a
            routerLink="/register"
            *ngIf="!hasRoute('/login')&&!hasRoute('/register')"
        >
            <app-button
                color="steelblue"
                text="Register"
            ></app-button>
        </a>
    </div>

    <div *ngIf="isLoggedIn">
        <app-button
            color="steelblue"
            text="Sort"
            (btnClick)="sortHandler()"
        ></app-button>

        <a routerLink="/create-task">
            <app-button
                color="steelblue"
                text="Add"
            ></app-button>
        </a>

        <app-button
            color="steelblue"
            text="Logout"
            (btnClick)="logout()"
        ></app-button>
    </div>
</header>
