<header>
    <h1>{{title}}</h1>

    <!-- <app-button
        color="steelblue"
        text="Sort"
        (btnClick)="sortHandler()"
    ></app-button>

    <a routerLink="/create-task">
        <app-button
            color="steelblue"
            text="Add"
        ></app-button>
    </a> -->
    <div>
        <a
            routerLink="/login"
            *ngIf="!hasRoute('/login')&&!hasRoute('/register')"
        >
            <app-button
                color="steelblue"
                text="Login"
            ></app-button>
        </a>

        <a
            routerLink="/register"
            *ngIf="!hasRoute('/login')&&!hasRoute('/register')"
        >
            <app-button
                color="steelblue"
                text="Register"
            ></app-button>
        </a>
    </div>

    <!-- <a routerLink="/logout">
        <app-button
            color="steelblue"
            text="Logout"
        ></app-button>
    </a> -->

</header>
