<ng-container *ngIf="task">
    <ng-container *ngIf="!ifOwner&&!isFinished">
        <div
            *ngIf="inProgress"
            class="form-control"
        >
            <h2>This Task is in Progress!</h2>
            <a routerLink="/tasks">Go Back</a>
        </div>

        <div
            *ngIf="!inProgress"
            class="form-control"
        >
            <h2>
                You have no permission to edit this Task!
            </h2>
            <a routerLink="/tasks">Go Back</a>
        </div>

    </ng-container>

    <ng-container *ngIf="ifOwner&&!isFinished">
        <form
            *ngIf="!inProgress"
            class="add-form"
            #editTaskForm="ngForm"
        >
            <!-- TASK Name -->
            <div class="form-control">
                <label for="taskName">Name of the Task:</label>
                <input
                    type="text"
                    id="taskName"
                    name="taskName"
                    [ngModel]="name"
                    required
                    #inputName="ngModel"
                >
                <!-- name error msg -->
                <!-- <div *ngIf="inputName.touched">
                    <div *ngIf="inputName.errors?.['required']">Name is required!</div>
                    <div *ngIf="inputName.errors?.['name']">Invalid Name!</div>
                </div> -->

                <!-- TASK Description -->
                <label for="taskDescr">Description of the Task:</label>
                <input
                    type="text"
                    id="taskDescr"
                    name="taskDescr"
                    [ngModel]="description"
                    required
                    #inputDescr="ngModel"
                >
                <!-- description error msg -->
                <!-- <div *ngIf="inputDescr.errors?.['appMaxCount']">
                    Invalid Description, because length is longer than
                    {{ inputDescr.errors?.['appMaxCount'] }} ...
                </div> -->
            </div>
            <button
                *ngIf="!inProgress"
                class="btn"
                [style]="{backgroundColor:editTaskForm.invalid?'gray':'green'}"
                (click)="takeItHandler()"
            >
                Take it
            </button>
            <button
                *ngIf="inProgress"
                class="btn"
                [style]="{backgroundColor:editTaskForm.invalid?'gray':'green'}"
                (click)="finishItHandler()"
            >
                Finish
            </button>
            <button
                *ngIf="!inProgress"
                class="btn"
                [style]="{backgroundColor:editTaskForm.invalid?'gray':'green'}"
                (click)="editHandler()"
            >
                Edit
            </button>
            <a routerLink="/tasks/{{idToEdit}}/delete">
                <button
                    *ngIf="!inProgress"
                    class="btn"
                    [style]="{backgroundColor:editTaskForm.invalid?'gray':'green'}"
                >
                    Delete
                </button>
            </a>
        </form>

        <form
            *ngIf="inProgress"
            class="add-form"
            #editTaskForm="ngForm"
        >
            <!-- TASK Name -->
            <div class="form-control">
                <label for="taskName">Name of the Task:</label>
                <input
                    type="text"
                    id="taskName"
                    name="taskName"
                    disabled="true"
                    [ngModel]="name"
                    required
                    #inputName="ngModel"
                >
                <!-- name error msg -->
                <!-- <div *ngIf="inputName.touched">
                    <div *ngIf="inputName.errors?.['required']">Name is required!</div>
                    <div *ngIf="inputName.errors?.['name']">Invalid Name!</div>
                </div> -->

                <!-- TASK Description -->
                <label for="taskDescr">Description of the Task:</label>
                <input
                    type="text"
                    id="taskDescr"
                    name="taskDescr"
                    disabled="true"
                    [ngModel]="description"
                    required
                    #inputDescr="ngModel"
                >
                <!-- description error msg -->
                <!-- <div *ngIf="inputDescr.errors?.['appMaxCount']">
                    Invalid Description, because length is longer than
                     {{ inputDescr.errors?.['appMaxCount'] }} ...
                </div> -->

                <!-- Working Hours for the Task -->
                <label for="hoursToWork">Working hours for the Task:</label>
                <input
                    type="text"
                    id="hoursToWork"
                    name="hoursToWork"
                    placeholder="Add hours"
                    disabled="false"
                    ngModel
                    required
                    #inputHours="ngModel"
                >
                <!-- description error msg -->
                <!-- <div *ngIf="inputHours.errors?.['appMaxCount']">
                    Invalid Description, because length is longer than
                    {{ inputHours.errors?.['appMaxCount'] }} ...
                </div> -->
            </div>
            <button
                *ngIf="!inProgress"
                class="btn"
                [style]="{backgroundColor:editTaskForm.invalid?'gray':'green'}"
                (click)="takeItHandler()"
            >
                Take it
            </button>
            <button
                *ngIf="inProgress"
                class="btn"
                [style]="{backgroundColor:editTaskForm.invalid?'gray':'green'}"
                (click)="finishItHandler()"
            >
                Finish
            </button>
            <button
                *ngIf="!inProgress"
                class="btn"
                [style]="{backgroundColor:editTaskForm.invalid?'gray':'green'}"
                (click)="editHandler()"
            >
                Edit
            </button>
            <a routerLink="/tasks/{{idToEdit}}/delete">
                <button
                    *ngIf="!inProgress"
                    class="btn"
                    [style]="{backgroundColor:editTaskForm.invalid?'gray':'green'}"
                >
                    Delete
                </button>
            </a>
        </form>
    </ng-container>

    <ng-container *ngIf="isFinished&&!inProgress">
        <div class="form-control">
            <h2>
                This Task is already finished for {{task.hoursOfWork}} hours by {{task.takenByUser}}!
            </h2>
            <a routerLink="/tasks/{{idToEdit}}/delete">
                <button
                    class="btn btn-block"
                    [style]="{backgroundColor:'red'}"
                >
                    Delete
                </button>
            </a>
        </div>
    </ng-container>
    <!-- {{ editTaskForm?.value | json }}
    Invalid Form: {{ editTaskForm?.invalid | json }} -->
</ng-container>
