<form
    class="add-form"
    #editTaskForm="ngForm"
>
    <!-- TASK Name -->
    <div class="form-control">
        <label for="taskName">Name of the Task:</label>
        <input
            type="text"
            id="taskName"
            name="taskName"
            placeholder="Add Task"
            ngModel
            required
            #inputName="ngModel"
        >
        <!-- name error msg -->
        <!-- <div *ngIf="inputName.touched">
            <div *ngIf="inputName.errors?.['required']">Name is required!</div>
            <div *ngIf="inputName.errors?.['name']">Invalid Name!</div>
        </div> -->

        <!-- TASK Description -->
        <label for="taskDescr">Description of the Task:</label>
        <input
            type="text"
            id="taskDescr"
            name="taskDescr"
            placeholder="Add Description"
            ngModel
            required
            #inputDescr="ngModel"
        >
        <!-- description error msg -->
        <!-- <div *ngIf="inputDescr.errors?.['appMaxCount']">
            Invalid Description, because length is longer than
            {{ inputDescr.errors?.['appMaxCount'] }} ...
        </div> -->
    </div>
    <button
        class="btn"
        [style]="{backgroundColor:editTaskForm.invalid?'gray':'green'}"
        (click)="takeItHandler()"
    >
        Take it
    </button>
    <button
        class="btn"
        [style]="{backgroundColor:editTaskForm.invalid?'gray':'green'}"
        (click)="editHandler()"
    >
        Edit
    </button>
    <button
        class="btn"
        [style]="{backgroundColor:editTaskForm.invalid?'gray':'green'}"
        (click)="deleteHandler()"
    >
        Delete
    </button>
</form>
{{ editTaskForm.value | json }}
Invalid Form: {{ editTaskForm.invalid | json }}
