<div
    class="task"
    (dblclick)="onTaskClickHandler(task._id)"
>
    <h3 *ngIf="task.isFinished==true">
        {{task.name}}
        <fa-icon
            [icon]="faTimes"
            [ngStyle]="{'color':'red'}"
            (click)="onDeleteClickHandler($event,task._id)"
        ></fa-icon>
    </h3>
    <h3 *ngIf="task.isFinished==false">{{task.name}}</h3>
    <p>Description: {{task.description}}</p>
    <p>Task is created by: {{task.owner}}</p>
    <p *ngIf="task.takenByUser==false">This task is not taken yet!</p>
    <p *ngIf="task.takenByUser!=false">Task is taken by: {{task.takenByUser}}</p>
    <p *ngIf="task.inProgress==true">Task is in progress!</p>
    <p *ngIf="task.isFinished==true">
        Task is resolved for: {{task.hoursOfWork}} hours.
    </p>
</div>
