<div
    class="task"
    (dblclick)="onTaskClickHandler(task._id)"
>
    <h3>
        {{task.name}}
        <fa-icon
            *ngIf="ifOwner&&task.isFinished"
            [icon]="faTimes"
            [styles]="{'color':'red',transform: 'scale(0.98)'}"
            (click)="onDeleteClickHandler(task._id)"
        ></fa-icon>
    </h3>
    <p>Description: {{task.description}}</p>
    <p>Task is created by: {{task.owner}}</p>
    <p *ngIf="task.takenByUser==false">This task is not taken yet!</p>
    <p *ngIf="task.takenByUser!=false">Task is taken by: {{task.takenByUser}}</p>
    <p *ngIf="task.inProgress==true">Task is in progress!</p>
    <p *ngIf="task.isFinished==true">
        Task is resolved for: {{task.hoursOfWork}} hours.
    </p>
</div>
