<div class="container">
    <app-header></app-header>
    <main>
        <router-outlet>
            <!-- <app-home></app-home>
            <app-tasks></app-tasks>
            <app-login></app-login>
            <app-register></app-register>
            <app-logout></app-logout>
            <app-add-task></app-add-task>
            <app-task-details></app-task-details>
            <app-task-delete></app-task-delete>
            <app-about></app-about>
            <app-not-found></app-not-found> -->
        </router-outlet>
    </main>
    <app-footer></app-footer>
</div>
