<form
    class="add-form"
    #loginForm="ngForm"
    (ngSubmit)="loginSubmitHandler()"
>
    <!-- EMAIL -->
    <div class="form-control">
        <label for="email">Email:</label>
        <input
            type="text"
            id="email"
            name="email"
            placeholder="Add Email"
            ngModel
            email
            required
            #inputEmail="ngModel"
        >

        <!-- email error msg -->
        <!-- <div *ngIf="inputEmail.touched">
            <div *ngIf="inputEmail.errors?.['required']">Email is required!</div>
            <div *ngIf="inputEmail.errors?.['email']">Invalid EMAIL!</div>
        </div> -->

        <!-- PASSWORD -->
        <label for="password">Password:</label>
        <input
            type="text"
            id="password"
            name="password"
            placeholder="Add Password"
            ngModel
            #inputPassword="ngModel"
        >
        <!-- password error msg -->
        <!-- <div *ngIf="inputPassword.errors?.['appMaxCount']">
            Invalid Password, because length is longer than
            {{ inputPassword.errors?.['appMaxCount'] }} ...
        </div> -->
    </div>
    <button
        class="btn"
        [style]="{backgroundColor:loginForm.invalid?'gray':'green'}"
    >
        Log In
    </button>
    <span>
        If you don't have a profile, click
        <a href="#">here</a>
    </span>
</form>

<br>
<br>
<br>
{{ loginForm.value | json }}
Invalid Form: {{ loginForm.invalid | json }}
