<h2>Please Login in the System.</h2>
<form
    class="add-form"
    #loginForm="ngForm"
    (ngSubmit)="loginSubmitHandler()"
>
    <!-- EMAIL -->
    <div class="form-control">
        <label for="email">Email:</label>
        <input
            type="text"
            id="email"
            name="email"
            placeholder="Add Email"
            ngModel
            required
            appEmail
            #inputEmail="ngModel"
        >
        <!-- email error msg -->
        <div *ngIf="inputEmail.touched">
            <div
                class="error"
                *ngIf="inputEmail.errors?.['required']"
            >
                Email is required!
            </div>
            <div
                class="error"
                *ngIf="inputEmail.errors?.['emailValidator']"
            >
                The email should be in the following format (mailboxname @ domainname.domainextension) !
            </div>
        </div>
        <!-- {{inputEmail?.errors|json}} -->
        <!-- PASSWORD -->
        <label for="password">Password:</label>
        <input
            type="text"
            id="password"
            name="password"
            placeholder="Add Password"
            ngModel
            required
            [appMinCount]="4"
            [appMaxCount]="10"
            #inputPassword="ngModel"
        >
        <!-- password error msg -->
        <div *ngIf="inputPassword.touched">
            <div
                class="error"
                *ngIf="inputPassword.errors?.['required']"
            >
                Password is required!
            </div>
            <div
                class="error"
                *ngIf="inputPassword.errors?.['appMinCount']"
            >
                Invalid Password, because length is shorter than
            {{ inputPassword.errors?.['appMinCount'] }} ...
            </div>
            <div
                class="error"
                *ngIf="inputPassword.errors?.['appMaxCount']"
            >
                Invalid Password, because length is longer than
            {{ inputPassword.errors?.['appMaxCount'] }} ...
            </div>
        </div>
        <!-- {{inputPassword?.errors|json}} -->
    </div>
    <button
        class="btn"
        [style]="{backgroundColor:loginForm.invalid?'gray':'green'}"
        [class.btnWhenFormValid]="loginForm.invalid==false"
    >
        Log In
    </button>
    <span>
        If you don't have a profile, click
        <a routerLink="/register">here.</a>
    </span>
</form>
<!-- {{ loginForm.value | json }}
Invalid Form: {{ loginForm.invalid | json }} -->
