<form
    class="add-form"
    #addTaskForm="ngForm"
    (ngSubmit)="addSubmitHandler()"
>
    <!-- NAME -->
    <div class="form-control">
        <label for="taskName">Name of the Task:</label>
        <input
            type="text"
            id="taskName"
            name="taskName"
            placeholder="Add Task"
            ngModel
            required
            #inputName="ngModel"
        >
        <!-- name error msg -->
        <!-- <div *ngIf="inputName.touched">
            <div *ngIf="inputName.errors?.['required']">Name is required!</div>
            <div *ngIf="inputName.errors?.['name']">Invalid Name!</div>
        </div> -->

        <!-- Task Description -->
        <label for="taskDescr">Description of the Task:</label>
        <input
            type="text"
            id="taskDescr"
            name="taskDescr"
            placeholder="Add Description"
            ngModel
            required=""
            #inputDescr="ngModel"
        >
        <!-- description error msg -->
        <!-- <div *ngIf="inputDescr.errors?.['appMaxCount']">
            Invalid Description, because length is longer than
            {{ inputDescr.errors?.['appMaxCount'] }} ...
        </div> -->
    </div>
    <button
        class="btn btn-block"
        [style]="{backgroundColor:addTaskForm.invalid?'gray':'green'}"
    >
        Save Task
    </button>
</form>
{{ addTaskForm.value | json }}
Invalid Form: {{ addTaskForm.invalid | json }}
